@model ventasP2Web.Models.factura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaVencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaVencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccionEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccionEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliente.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.facturaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<div>
    <h4>Detalle factura</h4>
    @{ Html.RenderAction("detalleFactura", new { id = Model.facturaID }); }
</div>

